<ion-header>
  neptunus 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Neptune_-_Voyager_2_%2829347980845%29_flatten_crop.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Neptunus (symbol: ♆) är den åttonde planeten från solen. Neptunus är en så kallad gasjätte, och har fått sitt namn efter havsguden Neptunus i romersk mytologi. Den 24 augusti 2006, då Internationella astronomiska unionen beslutade att Pluto inte längre var en planet, blev Neptunus den yttersta planeten i solsystemet. Neptunus var dock den yttersta planeten i solsystemet även mellan åren 1979 och 1999, eftersom Pluto då låg närmare solen än Neptunus.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Neptunus"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>neptunus</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Neptunus"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>