<ion-header>
  mars
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     <ion-col><ion-card>
       <ion-card-header></ion-card-header>

       <ion-card-content>
        <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Mars_Hubble.jpg"> </ion-img>
        <ion-text color="dark">

          <h5>Mars (symbol: Mars symbol.svg) är den fjärde planeten från solen och solsystemets näst minsta planet. Den har fått sitt namn efter den romerska krigsguden Mars och kallas ibland för "den röda planeten" på grund av sitt rödaktiga utseende. Den röda färgen beror på stora mängder järnoxid (rost) som finns fördelat över ytan och i atmosfären. Mars är en av de fyra stenplaneterna och har en tunn atmosfär som till största delen består av koldioxid. Ytan är täckt av kratrar av olika storlekar likt månen, men Mars har precis som jorden även många vulkaner, dalgångar, vidsträckta slätter och iskalotter vid polerna.</h5>
        </ion-text>
       
        <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Mars_(planet)')"> Källa: wikipedia </ion-button>
       </ion-card-content>

     
     </ion-card></ion-col><ion-col><ion-card>
      <ion-card-header>mars</ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
          <ion-item>
            <ion-chip slot="end">
              <ion-label >6 378,1 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Ekvatorradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item><ion-item>
            <ion-chip slot="end">
              <ion-label >6 371,0 km</ion-label>
            </ion-chip>
           
              <ion-label slot="start" color="dark"> Medelradie</ion-label>
             
          </ion-item>
        </ion-list>
      
       <ion-button size="small" fill="clear" onclick="window.open('https://sv.wikipedia.org/wiki/Mars_(planet)')"> Källa: wikipedia </ion-button>
      </ion-card-content>

    
    </ion-card></ion-col><ion-col></ion-col>
    </ion-row>
</ion-grid>
</ion-content>